.movie {
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.movie-intro {
    width: 100%;
}

.movie-backdrop {
    height: 500px;
    width: 100%;
    object-fit:cover;
    object-position: 0 35%;

}

.movie-detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 225px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 22px 40px 6px;
}

.movie-detailLeft {
    margin-right: 30px;
}

.movie-poster {
    width:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie-detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content:space-between ;
}

.movie-detailRightTop > div{
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.movie-name {
    font-weight: 600;
    font-size: 3rem;
}

.movie-tagline{
    font-weight: 600;
}

.movie-voteCount {
    margin-left: 1rem;
}

.movie-genres {
    margin: 1.25rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}

.movie-genre {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    font-size: .8rem;
}


.movie-detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie-links {
    position: relative;
    bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 75%;
}

.link-heading {
    font-size: 1.2rem;
}

.movie-Button {
    display: flex;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.movie-Button:hover{
    transform:  scale(1.05);
}

.movie-homeButton {
    background-color:rgb(255, 0, 0);
    
}

.movie-imdbButton {
    background-color:#f3ce13;
}

.link-icon{
    width: 2.3rem;
}

@media (max-width: 950px){
    .movie-detail{
        flex-direction: column;
        background-color: transparent;
        box-shadow: none;

    }
    .movie-backdrop{
        object-position: center;
    }

    .movie-poster{
        margin-top: 3rem;
    }

    .movie-detailRight{
        margin-top: 3rem;
    }

    
}

@media (max-width: 750px){

    .movie-backdrop{
        height: 20rem;
    }

    .movie-poster{
        width: 12rem;
    }

    .movie-name{
        font-size: 1.5rem;
    }

    .link-heading{
        font-size: 1rem;
    }

    .movie-Button{
        padding: .5rem;
        font-size: .8rem;
    }

   
}